<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

  <div class="text-center">
    <h1>JSON Web Token</h1>
  </div>

  <hr>

  <div class="text-center">
    <button class="btn btn-primary" data-ng-click="vm.getToken()">Solicitar Token</button>
  </div>

  <hr>

  <div class="jumbotron">
    <label>Token</label>
    <textarea data-ng-model="vm.myToken" rows="5" class="form-control"></textarea>
  </div>

  <hr>

  <h3>User Form ( Create )</h3>

  <div class="jumbotron">
    <div class="container">
      <form name="myForm">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label for="user">Name</label>
          <input type="text" class="form-control" name="name" data-ng-model="vm.user.name" required="">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label for="user">User</label>
          <input type="text" class="form-control" name="user" data-ng-model="vm.user.user" required="">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label for="user">Password</label>
          <input type="password" class="form-control" name="password" data-ng-model="vm.user.password" required="">
        </div>


        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <hr>
          <button data-ng-disabled="myForm.$invalid" class="btn btn-primary" data-ng-click="vm.Create()">Cadastrar Usuário</button>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-ng-show="vm.messageCreate">
          <hr>
          <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Message:</strong> {{vm.messageCreate}}
          </div>
        </div>



      </form>
    </div>


  </div>

  <hr>

  <h3>List Users (Retrieve) </h3>

  <div class="jumbotron">
    <div class="container">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button class="btn btn-primary" data-ng-click="vm.Retrieve()">Find Users</button>
        <hr>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-ng-show="vm.messageRetrieve">
        <div class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Message:</strong> {{vm.messageRetrieve}}
        </div>
        <hr>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>User</th>
              <th>Password</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="user in vm.users">
              <td>{{user.name}}</td>
              <td>{{user.user}}</td>
              <td>{{user.password}}</td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>
  </div>


</div>